// main: ../styles.sass
@import ../variables
.navbar-brand
  font-family: 'Quicksand'
  font-weight: 600
  text-transform: uppercase
  display: block
  float: left
  font-size: 40pt
  padding-top: 12px
  span
    color: $red
.navbar
  color: $red
  position: fixed
  z-index: 10
  width: 100%
  padding: 0
  float: left
  background: $white
  div
    position: relative
  ul
    display: block
    float: right
    padding: 17px 0px
    & > li:hover
      ul
        display: block

    li
      display: inline-block
      margin: 10pt
      position: relative
      img
        position: absolute
        left: -5px
        top: -3px
        max-width: 24px
        height: auto
      a
        font-family: 'Quicksand'
        font-weight: 800
        font-size: 1.1em
        display: block
        position: relative
        padding-left: 30px
    .dropdown-list
      position: absolute
      background: $white
      width: 100%
      top: 21px
      padding: 0
      display: none
      border-bottom-left-radius: $radius
      border-bottom-right-radius: $radius
      li
        display: block
        float: none
        a
          padding: 0
          padding-left: 17px
  .suggestions
    position: absolute
    top: 78px
    margin: 0
    padding: 0
    z-index: 9
    right: 15px
    left: 15px
    background: $light-grey
    border-bottom-left-radius: $radius
    border-bottom-right-radius: $radius
    overflow: hidden
    li
      display: block
      width: 100%
      float: left
      position: relative
      margin: 0
      padding: 10pt
      &:hover
        background: $dark-grey
        a
          color: $white
      a
        padding-left: 44px
      img
        max-width: 40px
        max-height: 40px
        border-radius: $radis-mini

.sumbenu
  background: $dark-grey
  width: 100%
  float: left
  margin-top: 77px
  ul
    margin: 0
    padding: 0
    overflow: hidden
    li
      width: 25%
      display: block
      float: left
      padding: 15px 10px
      text-align: center
      a
        color: $white
        text-transform: uppercase
        font-family: $heading-font
        font-weight: 600
        font-size: 1.23em
.red-search-icon
  position: absolute
  top: 27px
  right: 40px
  width: 25px
  height: 25px
  background: #fafafa url("../img/icon-search.png") no-repeat 90% 50%
  background-size: 25px 25px
  border: none
