// main: ../styles.sass
@import ../variables
.navbar
  color: $red
  width: 100%
  padding: 10px 0
  overflow: hidden
  background: $white
  .navbar-brand
    font-family: 'Quicksand'
    font-weight: 600
    text-transform: uppercase
    display: block
    float: left
    font-size: 40pt
    span
      color: $red
  ul
    display: block
    float: right
    padding: 7px 0px
    li
      display: inline-block
      margin: 10pt
      img
        position: absolute
        left: -5px
        top: -3px
        max-width: 24px
        height: auto
      a
        font-family: 'Quicksand'
        font-weight: 800
        font-size: 1.1em
        display: block
        position: relative
        padding-left: 30px
