// main: ../styles.sass
@import ../variables

input[type="text"], input[type="email"], input[type="password"]
  border: 2px solid $dark-grey
  padding: 10px 15px
  color: $dark-grey
  display: block
  width: 100%
  margin: 15px 0
  border-radius: $radius
  font-size: 20px
  font-family: 'Quicksand'
  font-weight: 600
  &:focus
    outline: none
